body {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.card {
    animation: fadeInUp 1s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

